@font-face {
  font-family: 'Muli-Regular';
  src: url('/fonts/Muli-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Muli-Bold';
  src: url('/fonts/Muli-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Muli-Black';
  src: url('/fonts/Muli-Black.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Muli-SemiBold';
  src: url('/fonts/Muli-SemiBold.ttf');
  font-display: swap;
}
