@import '~bootstrap/scss/bootstrap';
@import 'common';
@import 'typography';

button {
  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Muli-Regular';
  color: $text-color;
}

a {
  cursor: pointer;
}
.main-title {
  font-size: 40px;
  color: $white;
  font-family: 'Muli-Bold';
  @include bp(lg-max) {
    font-size: 32px;
  }
  @include bp(md-max) {
    font-size: 24px;
  }
}

.title {
  font-size: 32px;
  color: $text-color;
  font-family: 'Muli-Bold';
  @include bp(lg-max) {
    font-size: 28px;
  }
  @include bp(md-max) {
    font-size: 24px;
  }
}

.sub-title {
  font-size: 18px;
  color: $text-color;
  font-family: 'Muli-Bold';
}




.form-control {
  border-radius: 20px !important;
  border: solid 1px rgba(60, 64, 66, 0.1);
  background-color: #ffffff;
  height: 40px;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    border: solid 1px rgba(60, 64, 66, 0.24);
  }

  &.textarea {
    height: auto;
  }

  &.was-validated .form-control:invalid:focus,
  &.form-control.is-invalid:focus {
    box-shadow: none;
  }
  @include bp(s-max) {
    font-size: 13px;
  }
}

::placeholder {
  color: $text-color;
  font-size: 14px;
  font-family: 'Muli-SemiBold';
}

section {
  padding: 40px 0;
}

.forgot-password-link {
  display: block;
  text-align: left;
  padding-left: 9px;
  color: #495057;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

/* Download Section */
.download-section,
.city-banner-section {
  padding: 96px 0;
  background-color: $text-color;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    background-image: url(/images/pink-shape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 158px;
    height: 158px;
    position: absolute;
    bottom: -79px;
    left: 0px;
    background-position: left -79px top;
  }
  &:before {
    content: '';
    display: inline-block;
    background-image: url(/images/green-circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 322px;
    height: 322px;
    position: absolute;
    top: -161px;
    right: 0px;
    background-position: right -161px top;
  }
  .title {
    color: $white;
    margin-bottom: 48px;
  }
  a {
    display: inline-block;
    img {
      height: 40px;
    }
    & + a {
      margin-left: 23px;
    }
  }

  @include bp(lg-max) {
    padding: 60px 0;
    &:after {
      width: 120px;
      height: 120px;
      bottom: -60px;
      background-position: left -60px top;
    }
    &:before {
      width: 160px;
      height: 160px;
      top: -80px;
      background-position: right -80px top;
    }
    .title {
      margin-bottom: 38px;
    }
  }

  @include bp(md-max) {
    padding: 50px 0;
    &:after {
      width: 79px;
      height: 79px;
      bottom: -39px;
      background-position: left -39px top;
    }
    &:before {
      width: 160px;
      height: 160px;
      top: -80px;
      background-position: right -80px top;
    }
    .title {
      margin-bottom: 32px;
    }
  }

  @include bp(xs-max) {
    padding: 48px 0;
    &:after {
      width: 47px;
      height: 47px;
      bottom: -23px;
      background-position: left -23px top;
    }
    &:before {
      width: 97px;
      height: 97px;
      top: -49px;
      background-position: right -49px top;
    }
    .title {
      margin-bottom: 32px;
    }
  }
}

.city-banner-section {
  padding: 70px 0;
  &:after {
    content: none;
  }
  &:before {
    content: none;
  }
}
.invalid-feedback {
  text-align: left;
}
.pink-text {
  color: $pink;
}

.home-img {
  width: 90%;
}

div.home-img {
  margin: auto;
}

/* Review Section */
.review-section {
  position: relative;
  &:after {
    content: '';
    background-image: url(/images/green-quote-pink-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    height: 430px;
    width: 318px;
    bottom: -290px;
  }
  .quote-img {
    position: absolute;
    top: -20px;
    left: 7%;
  }

  @include bp(lg-max) {
    &:after {
      height: 322px;
      width: 238px;
      bottom: -190px;
    }
  }

  @include bp(md-max) {
    &:after {
      height: 215px;
      width: 132px;
      bottom: -140px;
    }
    .quote-img {
      width: 25px;
      top: 25px;
    }
  }

  @include bp(xs-max) {
    padding: 30px 0 50px;
    &:after {
      height: 129px;
      width: 79px;
      bottom: 0px;
    }
    .quote-img {
      display: none;
    }
  }
}

/* Dropdown */
.custom-dd {
  padding-left: 0;
  position: absolute;
  width: 100%;
  text-align: left;
  font-family: 'Muli-SemiBold';
  z-index: 1;
  &.open {
    &:after {
      content: '';
      width: 100%;
      height: calc(100% - 50px);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50px;
      border-radius: 6px;
      box-shadow: 1px 20px 40px 0 rgba(60, 64, 66, 0.1);
      background-color: #ffffff;
    }
  }
  list-style-type: none;
  li {
    &:not(.init) {
      display: none;
      z-index: 1;
      position: relative;
      padding: 10px 18px;
      line-height: normal;
    }
    &.show {
      display: list-item;
    }
    &.init {
      margin-bottom: 10px;
      line-height: 26px;
      .value {
        display: none;
      }
    }
    &:nth-child(3) {
      padding-top: 18px;
    }
    &:last-child {
      padding-bottom: 18px;
    }
    .min {
      width: 125px;
      display: inline-block;
    }
    .value {
      color: $gray;
      opacity: 0.4;
    }
    &.selected {
      background-image: url('/images/done-pink.svg');
      background-size: 32px;
      background-repeat: no-repeat;
      background-position: right 7px center;
    }
    &:hover {
      cursor: pointer;
    }
  }

  @include bp(xs-max) {
    &.open {
      position: fixed;
      top: 0 !important;
      bottom: 0;
      left: 0 !important;
      right: 0;
      border-radius: 0;
      margin: 0;
      width: 100%;
      z-index: 111;
      .sub-title {
        display: list-item !important;
        padding: 28px 18px 10px;
        cursor: default;
        .close {
          float: right;
          color: $pink;
          font-size: 16px;
          opacity: 1;
          cursor: pointer;
        }
      }
      .show-btn {
        display: list-item !important;
      }
      .init {
        height: 0;
        padding: 0;
        margin: 0;
      }
      &:after {
        top: 0;
        border-radius: 0;
        height: 100%;
        box-shadow: none;
      }
    }
  }
}

/* Dropdown Sec */
.dropdown-sec {
  padding-left: 0;
  position: absolute;
  width: 100%;
  text-align: left;
  font-family: 'Muli-SemiBold';
  z-index: 1;
  margin-bottom: 0px;
  top: -3px;
  &.open {
    &:after {
      content: '';
      width: 100%;
      height: calc(100% - 50px);
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50px;
      border-radius: 6px;
      box-shadow: 1px 20px 40px 0 rgba(60, 64, 66, 0.1);
      background-color: #ffffff;
    }
  }
  list-style-type: none;
  li {
    &:not(.init) {
      display: none;
      z-index: 1;
      position: relative;
      padding: 10px 18px;
      line-height: normal;
    }
    &.init {
      margin-bottom: 10px;
      line-height: 26px;
      font-size: 18px;
      &.form-control {
        background-color: transparent;
        border: 0px;
        padding: 0px;
        border-radius: 0px !important;
        background-color: transparent;
      }
    }
    &.show {
      display: list-item;
    }
    &:last-child {
      padding-bottom: 18px;
    }
    &.selected {
      background-image: url(/images/done-pink.svg);
      background-size: 32px;
      background-repeat: no-repeat;
      background-position: right 7px center;
    }
    &:hover {
      cursor: pointer;
    }
  }
  @include bp(xs-max) {
    &.open {
      position: fixed;
      top: 0 !important;
      bottom: 0;
      left: 0 !important;
      right: 0;
      border-radius: 0;
      margin: 0;
      width: 100%;
      z-index: 111;
      .sub-title {
        display: list-item !important;
        padding: 28px 18px 10px;
        cursor: default;
        .close {
          float: right;
          color: $pink;
          font-size: 16px;
          opacity: 1;
          cursor: pointer;
        }
      }
      .show-btn {
        display: list-item !important;
      }
      .init {
        height: 0;
        padding: 0;
        margin: 0;
      }
      &:after {
        top: 0;
        border-radius: 0;
        height: 100%;
        box-shadow: none;
      }
    }
  }
}

/* Therapist Custom Input + Button */
.book-demo-input {
  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 300px !important;
    padding-right: 20px;
    &::placeholder {
      opacity: 0.54;
    }
  }
  button {
    background-color: #6fcad8 !important;
    border-color: transparent !important;
    z-index: 3;
    margin-left: -15px;
    &:hover {
      background-color: $white !important;
    }
    &.btn-primary:not(:disabled):not(.disabled):active {
      color: $pink;
    }
  }
}

.modal {
  &.show {
    display: block;
  }
  @include bp(xs-max) {
    background-color: $white;
    padding-right: 0 !important;
    .modal-dialog {
      margin: 0;
      width: 100%;
      height: 100%;
      .modal-content {
        border-radius: 0px;
        border: none;
        height: 100%;
        text-align: center;
        .modal-header {
          border: none;
          .modal-title {
            font-size: 18px;
            font-family: 'Muli-Bold';
          }
          .close {
            font-size: 16px;
            color: $pink;
            opacity: 1;
          }
        }
        .modal-body {
          flex: initial;
          .datepicker {
            position: initial;
            box-shadow: none;
            margin: auto;
            width: 100%;
            padding: 0;
            table {
              border-spacing: 8px 2px;
            }
            .datepicker-days {
              td,
              th {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .modal-footer {
          border: none;
        }
      }
    }
  }
}

/* TimeKit Booking Modal */
.modal.time-kit-modal {
  overflow-x: auto;
  .modal-header {
    color: $text-color;
    display: flex;
    button {
      width: initial;
    }
  }
  &.show {
    background: rgba(0, 0, 0, 0.5);
    display: block;
  }
}

.is-invalid-datepicker {
  .react-datepicker__input-container {
    .form-control {
      border-color: #dc3545;
      padding-right: calc(1.5em + 0.75rem);
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
}

/* Datepicker */
.react-datepicker.datepicker-dropdown {
  border-radius: 20px;
  box-shadow: 0 15px 30px 0 rgba(60, 64, 66, 0.1);
  background-color: #ffffff;
  border: none;
  padding: 24px;
  width: 340px;
  left: 0px !important;
  top: calc(100% + 12px) !important;
  &:before,
  &:after {
    display: none;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker__navigation {
    border: none !important;
    border-radius: 50%;
    &.react-datepicker__navigation--previous {
      background-image: url('/images/down.svg');
      background-size: cover;
      transform: rotate(90deg);
      color: transparent;
      height: 36px;
      width: 36px;
      top: 19px;
      left: 20px;
      &:hover {
        background-color: #eee;
      }
    }
    &.react-datepicker__navigation--next {
      background-image: url('/images/down.svg');
      background-size: cover;
      transform: rotate(-90deg);
      color: transparent;
      height: 36px;
      width: 36px;
      top: 19px;
      right: 20px;
      &:hover {
        background-color: #eee;
      }
    }
  }
  .react-datepicker__month-dropdown-container {
    .react-datepicker__month-select {
      border: 1px solid $pink;
      background: transparent;
      border-radius: 5px;
    }
  }
  .react-datepicker__year-dropdown-container {
    .react-datepicker__year-select {
      border: 1px solid $pink;
      background: transparent;
      border-radius: 5px;
    }

    .react-datepicker__year-read-view--down-arrow {
      display: none;
    }

    .react-datepicker__year-option:first-of-type,
    .react-datepicker__month-option:first-of-type,
    .react-datepicker__month-year-option:first-of-type {
      background: #ff7271;
    }

    .react-datepicker__year-option:first-of-type {
      .react-datepicker__navigation {
        position: relative;
        width: 20px;
        height: 12px;
        top: 0;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url(/images/slide-up-white.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 12px;
          height: 7px;
        }
      }
    }

    .react-datepicker__year-option,
    .react-datepicker__month-option,
    .react-datepicker__month-year-option {
      background: white;
    }

    .react-datepicker__year-option:last-of-type,
    .react-datepicker__month-option:last-of-type,
    .react-datepicker__month-year-option:last-of-type {
      background: #ff7271;
    }

    .react-datepicker__year-option:last-of-type {
      .react-datepicker__navigation {
        position: relative;
        width: 20px;
        height: 12px;
        top: 0;
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url(/images/slide-down-white.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 12px;
          height: 7px;
        }
      }
    }
  }
  .react-datepicker__month-container {
    float: none;
    font-size: 14px;
    font-family: 'Muli-SemiBold';
    margin: auto;

    .react-datepicker__header {
      background-color: transparent;
      border-bottom: none;
      padding-top: 0;
      .react-datepicker__current-month {
        display: inline-block;
        cursor: pointer;
        height: 38px;
        padding: 7px 30px;
        text-align: center;
        border-radius: 4px;
        border: none;
        &:hover {
          background: #eee;
          border-radius: 20px;
        }
      }
    }

    .react-datepicker__day-names {
      opacity: 0.4;
      font-weight: 400;
      .react-datepicker__day-name {
        text-align: center;
        width: 37px;
        height: 37px;
      }
    }

    .react-datepicker__month {
      .react-datepicker__week {
        .react-datepicker__day {
          width: 37px;
          height: 37px;
          line-height: 2.3rem;
          border: solid 1px transparent;
          &:hover {
            border-radius: 50%;
            background-color: transparent;
            border: solid 1px #dbdbdc;
          }
          &:focus {
            border: none;
            outline: none;
          }
          &.react-datepicker__day--outside-month {
            color: #999;
          }
          &.react-datepicker__day--today {
            border-radius: 50%;
            background-color: transparent;
            border: solid 1px #dbdbdc;
            &.react-datepicker__day--selected {
              border: solid 1px transparent;
            }
          }
          &.react-datepicker__day--selected {
            border-radius: 50%;
            background-color: $pink;
            background-image: none;
            text-shadow: none;
          }
          &.react-datepicker__day--disabled {
            color: #999;
          }
        }
      }
    }

    .react-datepicker__day--keyboard-selected {
      border-radius: inherit;
      background-color: inherit;
      color: inherit;
    }
  }

  @include bp(md-max) {
    left: -5px !important;
  }
  @include bp(sm-max) {
    left: 45px !important;
  }
  &.mobile-date {
    &.modal.show .modal-dialog {
      transform: translate(0, 0px);
    }
    .modal-content {
      display: inline-block;
      .modal-header {
        .modal-title {
          color: $text-color;
        }
      }
      .modal-body {
        display: inline-block;
        width: auto;
        .react-datepicker__month-container {
          width: auto;
          display: inline-block;
          .react-datepicker__current-month {
            font-size: 16px;
            font-family: Muli-Bold;
            color: #3c4042;
          }
          .react-datepicker__day-names {
            white-space: normal;
            .react-datepicker__day-name {
              height: 40px;
              width: 40px;
              line-height: 1.9;
              margin: 4px 3px;
              padding: 7px 6px;
              text-align: center;
            }
          }
          .react-datepicker__month {
            margin: 0;
            .react-datepicker__day {
              height: 40px;
              width: 40px;
              line-height: 1.9;
              margin: 3px;
              padding: 7px 6px;
              text-align: center;
              &:hover {
                border-color: transparent;
              }
            }
          }
          @include bp(s-max) {
            .react-datepicker__day,
            .react-datepicker__day-name {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}

/* Banner Wrapper */
.banner-wrapper {
  background-image: url(/images/massage.jpg);
  height: 440px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: 120px;
  position: relative;
  margin-bottom: 330px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:before {
    background-image: url(/images/blue-shape.svg);
    width: 138px;
    height: 138px;
    bottom: -69px;
    left: 17%;
    background-position: left bottom 0px;
    z-index: -1;
  }
  &:after {
    background-image: url(/images/shape-with-circle.svg);
    width: 280px;
    height: 365px;
    right: 0;
    bottom: -330px;
    background-position: right -135px bottom -105px;
  }
  .form-details {
    text-align: center;
    .back-arrow {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      box-shadow: 0px 2px 6px 0 rgba(60, 64, 66, 0.08);
      background-color: $white;
      margin-bottom: 16px;
    }
    .form-wrapper {
      border-radius: 10px;
      padding: 28px;
      box-shadow: 1px 20px 40px 0 rgba(60, 64, 66, 0.1);
      background-color: $white;
      width: 360px;
      margin: 32px auto 0;
      position: relative;
      .login {
        .btn {
          margin: 16px 0 24px;
        }
      }
      .form-title {
        font-size: 24px;
        line-height: 30px;
        color: $text-color;
        margin-bottom: 24px;
        font-family: 'Muli-Bold';
        text-align: left;
      }
      .sign-options {
        a {
          width: 100%;
          padding: 6px;
          border-radius: 20px;
          box-shadow: 0 2px 6px 0 rgba(60, 64, 66, 0.08);
          background-color: #fff;
          display: block;
          color: $text-color;
          & + a {
            margin-top: 16px;
          }
          &.fb {
            background-color: #4266b2;
            color: $white;
          }
          img,
          span {
            display: inline-block;
            vertical-align: middle;
          }
          span {
            font-size: 14px;
            line-height: 14px;
            font-family: 'Muli-bold';
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
      .input-group {
        margin-bottom: 16px;
        .form-control {
          padding: 6px 20px;
          font-family: 'Muli-Bold';
          &::placeholder {
            opacity: 0.8;
          }
        }
      }
      .account-opt {
        font-size: 14px;
        line-height: 14px;
        a {
          color: $pink;
          font-family: 'Muli-Bold';
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @include bp(lg-max) {
    &:before {
      left: 12%;
    }
  }

  @include bp(md-max) {
    height: 480px;
    padding-top: 130px;
    margin-bottom: 310px;
    &:before {
      width: 97px;
      height: 97px;
      left: 6%;
      bottom: -48px;
    }
    &:after {
      width: 162px;
      height: 250px;
      bottom: -310px;
      background-position: right -125px bottom -65px;
    }
    &.alt-banner-wrapper {
      &:before {
        left: 0%;
      }
      &:after {
        width: 211px;
        background-position: right -75px bottom -60px;
      }
    }
    .form-details {
      .form-wrapper {
        padding: 20px;
        width: 349px;
        margin: 24px auto 0;
      }
    }
  }

  @include bp(sm-max) {
    background-image: none;
    padding-top: 100px;
    margin-bottom: 200px;
    &:before,
    &:after {
      display: none;
    }
    .form-details {
      .form-wrapper {
        width: 100%;
        margin: auto;
        height: 100%;
        box-shadow: none;
        padding: 0px 5px;
        .form-title {
          font-size: 18px;
          line-height: 26px;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}

.time-slot {

  a {
    display: inline-block;
    color: $white;
    width: 31.6%;
    .badge {
      width: 100%;
      height: 30px;
      line-height: 20px;
      background-color: #ff7271;
      margin-bottom: 1rem;
      font-size: 14px;
      font-family: 'Muli-Bold';
      border-radius: 8px;
      border-color: #ff7271;
    }
    .badge:hover{
      background-color: $white;
      color: $pink;
      box-shadow:0 5px 10px 0 rgb(60 64 66 / 16%);
    }
  }
  a:hover {
    color: $white;

  }
}

.alert-global-success-wrapper.error-verified {
  top: initial;
  bottom: 0px;
  margin-left: 0;

  .alert-danger {
    color: #ffffff;
    background-color: $pink;
    border-color: $pink;
    p {
      margin: 0;
      a {
        &:hover {
          text-decoration: solid;
          text-decoration-color: white;
          text-decoration-line: underline;
        }
      }
    }
  }

  &.green {
    .alert-danger {
      background-color: #3ed590;
      border-color: #3ed590;
    }
  }
}

/* Error Alert wrapper */
.alert-wrapper {
  width: 35%;
  margin: auto;
  position: absolute;
  z-index: 11;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -55%);
  .alert-error {
    font-size: 16px;
    color: $white;
    background-color: #f73232db;
    font-family: 'Muli-Regular';
    border: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    letter-spacing: 0.8px;
    text-align: center;
    border-radius: 8px;
  }
  @include bp(sm-max) {
    opacity: 0.9;
    width: 69%;
    .alert-error {
      font-size: 14px;
    }
  }
}

/* Success Alert wrapper */
.alert-success-wrapper {
  position: absolute;
  z-index: 11;
  width: 90%;
  top: -15px;
  .alert-primary {
    background-color: #ff8e8deb;
    text-align: left;
    font-family: 'Muli-Regular';
    border: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    letter-spacing: 0.8px;
    text-align: center;
    border-radius: 8px;
    color: white;
    text-align: left;
  }
  @include bp(sm-max) {
    top: -50px;
    font-size: 14px;
  }
}

/* Signup Container */
.signup-content .alert-wrapper {
  width: 27%;
  @include bp(lg-max) {
    width: 32%;
  }
  @include bp(sm-max) {
    top: 30%;
    width: 92%;
  }
}

/* Google Autocomplete Style */
.autocomplete-container {
  position: relative;
  .autocomplete-dropdown-container {
    background-color: $white;
    position: absolute;
    z-index: 20;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(60, 64, 66, 0.1);
    padding: 10px;
    .suggestion-item,
    .suggestion-item--active {
      text-overflow: ellipsis;
      text-align: left;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

/* Forgot Password Container */
.forgot-password-content .alert-wrapper {
  width: 84%;
  @include bp(md-max) {
    width: 89%;
  }
  @include bp(sm-max) {
    width: 100%;
    top: 26%;
  }
}

/* Tooltip */
.tooltip {
  .arrow {
    display: none;
  }
}
.tooltip-inner {
  max-width: 204px;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 12px;
  color: $white;
  border: 0px;
  text-align: left;
  background-color: #3c4042;
}

/* Global Success Message Wrapper */

.alert-global-success-wrapper {
  position: fixed;
  top: 70px;
  z-index: 11;
  padding: 0px 15px;
  max-width: inherit;
  width: 100%;
  margin-left: -12px;
  text-align: center;

  .alert-primary {
    background: #ff8e8d;
    border: none;
    color: white;
    font-size: 18px;
  }

  &.success-alert {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .alert-success {
      color: #ffffff;
      background-color: $pink;
      border-color: $pink;
      width: 75%;
    }
  }

  @include bp(xs-max) {
    font-size: 14px;
  }
}

/* Modal Desktop */
.modal-desktop {
  &.show {
    &.desktop-alt {
      .modal-dialog {
        .modal-content {
          .modal-header {
            padding-bottom: 0px;
          }
          .modal-body {
            padding-top: 8px;
            padding-bottom: 18px;
            color: $gray;
            line-height: 20px;
            .confirm-content {
              line-height: 20px;
              span {
                font-family: 'Muli-Bold';
              }
            }
          }
          .modal-footer {
            padding: 12px;
            .btn {
              margin: 0 8px;
            }
          }
        }
      }
    }
  }
  @include bp(md-max) {
    &.show {
      &.desktop-alt {
        .modal-dialog {
          .modal-content {
            padding: 20px;
            .modal-header {
              padding: 0px;
            }
            .modal-body {
              padding: 8px 0 20px;
            }
            .modal-footer {
              padding: 12px 0px 0px;
              .btn {
                margin: 0 8px;
              }
            }
          }
        }
      }
    }
  }
  @include bp(xs-max) {
    &.show {
      &.desktop-alt {
        .modal-dialog {
          .modal-content {
            padding: 20px;
            height: 100% !important;
            .modal-body {
              padding: 22px 0 0px;
            }
            .modal-footer {
              position: absolute;
              bottom: 34px;
              padding: 0px 20px;
              left: 0px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              .btn {
                margin: 0px;
                width: 48% !important;
                &.mobile-btn {
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Tip Modal */
.modal-cancle {
  p {
    margin-bottom: 0;
  }
  &.massage-confirm {
    .close {
      display: none;
    }
  }
  .modal-list {
    display: list-item !important;
  }
  text-align: center;
  .modal-dialog {
    max-width: 560px;
    width: 100%;
    vertical-align: middle;
    .modal-content {
      height: auto !important;
      text-align: left;
      .modal-header {
        border: none;
        .modal-title {
          font-size: 24px;
          font-family: 'Muli-Bold';
        }
        .close {
          span {
            display: none;
            &.sr-only {
              display: contents;
            }
          }
        }
      }
      .modal-body {
        padding: 0 1em 1em 1em;
        &.review {
          padding: 16px 14px;
        }
        .confirm-content {
          line-height: 20px;
          span {
            font-family: 'Muli-Bold';
          }
        }
        ul {
          margin-bottom: 32px;
          text-align: center;
          li {
            display: inline-block;
            padding: 0 8px;
            img {
              width: 28px;
              opacity: 0.2;
            }
            &.active {
              img {
                opacity: 1;
              }
            }
          }
        }
        .badges {
          margin-bottom: 16px;
          .slider {
            margin-top: 16px;
            .slick-slide {
              &:focus {
                outline: none;
              }
              text-align: center;
              margin: 0;
              .choose-badge {
                cursor: pointer;
                &.active {
                  .img {
                    opacity: 1;
                  }
                }
                .img {
                  opacity: 0.5;
                  width: 64px;
                  height: 64px;
                  display: inline-block;
                  overflow: hidden;
                  border-radius: 50%;
                  transition: all 0.3s ease;
                  img {
                    height: 100%;
                  }
                }
                .name {
                  opacity: 1;
                  font-family: 'Muli-Bold';
                  font-size: 10px;
                  line-height: 16px;
                  color: $gray;
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
        form {
          label {
            margin: 8px 0 16px;
            color: $gray;
          }
          textarea {
            height: 80px;
            resize: none;
            &.form-control {
              padding: 16px 20px;
              font-family: 'Muli-SemiBold';
              color: $text-color;
              opacity: 0.8;
              border-radius: 12px !important;
              &:placeholder {
                font-family: 'Muli-SemiBold';
                color: $text-color;
                opacity: 0.8;
              }
            }
          }
        }
        .tip-section {
          .time-slot {
            margin: 36px auto 20px;
          }
        }
        .time-slot {
          width: 80%;
          margin: 28px auto 20px;
          a {
            margin: 0 10px;
            width: 27%;
            span {
              margin-bottom: 0;
            }
          }
        }
        .link {
          color: $pink;
          font-family: Muli-Bold;
          display: inline-block;
          text-align: center;
          width: 100%;
          margin-bottom: 5px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .modal-footer {
        border: none;
        justify-content: center;
        button {
          // width: auto !important;
          width: auto;
          margin: 0px 8px;
          box-shadow: 0 2px 6px 0px rgba(60, 64, 66, 0.08);

          &.btn-full-width {
            width: 50%;
          }
        }
      }
    }
  }
  @include bp(md-max) {
    .modal-dialog {
      max-width: 469px;
      .modal-content {
        padding: 20px;
        .modal-header {
          padding: 0;
          .modal-title {
            font-size: 18px;
            line-height: 26px;
          }
        }
        .modal-body {
          padding: 16px 0px;
          &.review {
            padding: 16px 0px;
          }
          ul {
            li {
              padding: 0 14px;
              img {
                width: 40px;
              }
            }
          }
          .badges {
            margin-bottom: 32px;
            .slider {
              .slick-slide {
                margin: 0px;
                padding: 5px;
                .choose-badge {
                  .img {
                    width: 56px;
                    height: 56px;
                  }
                  .name {
                    word-break: break-word;
                    padding: 0 10px;
                  }
                }
              }
            }
          }
          form {
            label {
              margin: 4px 0 16px;
            }
            textarea {
              height: 64px;
              &.form-control {
                padding: 12px 20px;
                line-height: 20px;
                &:placeholder {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
          .time-slot {
            width: 90%;
            a {
              width: 29%;
              margin: 0 6px;
            }
          }
          .link {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 10px;
          }
        }
        .modal-footer {
          padding-bottom: 0px;
        }
      }
    }
  }
  @include bp(xs-max) {
    width: 90%;
    height: auto;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    p {
      // margin-bottom: 1em;
    }

    .modal-content {
      .modal-footer {
        .btn {
          & + .btn {
            margin-top: 15px !important;
          }
        }
      }
    }
    &.consent-popup {
      .modal-content {
        .modal-footer {
          .btn {
            & + .btn {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .modal-dialog {
      max-width: 100%;
      .modal-content {
        padding: 20px 20px 40px;
        height: 100% !important;
        .modal-body {
          padding: 16px 0px 16px;
          .modal-title {
            font-size: 16px;
            line-height: 20px;
            color: $gray;
            margin-bottom: 24px;
          }
          .badges {
            margin-bottom: 16px;
            .slider {
              margin: 16px -20px 0px;
              .slick-slide {
                .choose-badge {
                  &.active {
                    .img {
                      width: 96px;
                      height: 96px;
                    }
                  }
                  .img {
                    width: 72px;
                    height: 72px;
                    margin-bottom: 5px;
                  }
                  .name {
                    word-break: normal;
                    opacity: 0.6;
                    padding: 0px;
                    font-size: 14px;
                    line-height: 18px;

                  }
                }
              }
            }
          }
          form {
            label {
              margin: 8px 0 16px;
            }
          }
          .tip-section {
            .time-slot {
              margin: 22px auto 28px;
            }
          }
          .time-slot {
            width: 100%;
            margin: 20px auto 28px;
          }
        }
        .modal-footer {
          // position: absolute;
          // bottom: 34px;
          // padding: 20px 20px 0 20px;
          // padding-left: ;
          // padding: 0 20px;
          // left: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .btn {
            width: auto !important;
            margin: 0px;

            &-full-width{
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  @include bp(xs-min) {
    .modal-content {
      padding: 18px;
      box-shadow: 0 15px 50px -10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      border: none;
    }
    .close {
      display: none !important;
    }
  }
  @include bp(s-max) {
    .modal-dialog {
      .modal-content {
        .modal-body {
          ul {
            display: flex;
            justify-content: space-between;
            li {
              padding: 0 8px;
            }
          }
          .time-slot {
            display: flex;
            justify-content: space-between;
            a {
              margin: 0px;
              width: 31%;
            }
          }
        }
      }
    }
  }
}
.react-datepicker__portal {
  width: 100%;
  height: 100%;
}


.chicklet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  width: 100%;
  height: 40px;
  background-color: #3ed590;
  font-size: 12px;
  font-family: 'Muli-Bold';
  border-radius: 8px;
  padding: 5px;

}

.btn-light-blue{
    color: $text-color !important;
    background-color: $slotcolor !important;
    border-color: $slotcolor !important;
    position: absolute;
    left: 18px;
    right: 18px;
    bottom: 18px;
    width: calc(100% - 36px) !important;

}
